@use "./vars" as *;

@mixin padding-start($amount) {
  &:is(html[dir="ltr"] &) {
    padding-left: $amount;
  }
  &:is(html[dir="rtl"] &) {
    padding-right: $amount;
  }
}

@mixin padding-end($amount) {
  &:is(html[dir="ltr"] &) {
    padding-right: $amount;
  }
  &:is(html[dir="rtl"] &) {
    padding-left: $amount;
  }
}

@mixin margin-start($amount) {
  &:is(html[dir="ltr"] &) {
    margin-left: $amount;
  }
  &:is(html[dir="rtl"] &) {
    margin-right: $amount;
  }
}

@mixin margin-end($amount) {
  &:is(html[dir="ltr"] &) {
    margin-right: $amount;
  }
  &:is(html[dir="rtl"] &) {
    margin-left: $amount;
  }
}

@mixin horizon-start($amount) {
  &:is(html[dir="ltr"] &) {
    left: $amount;
  }
  &:is(html[dir="rtl"] &) {
    right: $amount;
  }
}

@mixin horizon-end($amount) {
  &:is(html[dir="ltr"] &) {
    right: $amount;
  }
  &:is(html[dir="rtl"] &) {
    left: $amount;
  }
}
