/// Font Variables

$font_en: var(--m-font-en);
$font_ar: var(--m-font-ar);

/// UI Variables

$ui_radius: var(--m-ui-radius);
$ui_direction: var(--m-ui-direction);

$color_main: var(--m-color-main);
$color_text: var(--m-color-text);
$color_accent: var(--m-color-accent);
$color_onAccent: var(--m-color-onAccent);
$color_box: var(--m-color-box);
$color_success: var(--m-color-success);
$color_warning: var(--m-color-warning);
$color_danger: var(--m-color-danger);
